/Jam54_Launcher/target/
/Jam54_Launcher/out/
/Updater/target/
/Updater/out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
Jam54_Launcher/.idea/modules.xml
Jam54_Launcher/.idea/jarRepositories.xml
Jam54_Launcher/.idea/compiler.xml
Jam54_Launcher/.idea/libraries/
Jam54_Launcher/.idea/uiDesigner.xml

Updater/.idea/modules.xml
Updater/.idea/jarRepositories.xml
Updater/.idea/compiler.xml
Updater/.idea/libraries/
Updater/.idea/uiDesigner.xml

*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store