* {
    -bg-main: #141414;
    -bg-foreground: #242424;
    -bg-selected: #3E3E3E;

    -accent-button-main: #3D77C2;
    -accent-button-hovered: #3669AB;
    -accent-button-clicked: #2E5A93;

    -hollow-button-unselected: rgba(255, 255, 255, 0);
    -hollow-button-hovered: #3E3E3E;
    -hollow-button-clicked: #595959;

    -filled-button-unselected: #404040;
    -filled-button-hovered: #383838;
    -filled-button-clicked: #313131;

    -button-icon-unselected: #7C7C7C;
    -button-icon-hovered: #C9C9C9;
    -button-icon-clicked: #D1D1D1;

    -text-highlighted: #FFFFFF;
    -text-not-highlighted: #BDBDBD;

    -other-border-division-scrollbar: #404040;
    -other-blur: rgba(255, 255, 255, 0.25);
    -toggle-button-gradient: linear-gradient(from 25% 25% to 100% 100%, #2193D3, #494FD6);
    -toggle-button-flat: #0E112C
}

BorderPane {
    -fx-background-color: -bg-foreground;
}

GamesProgramsWindow, ApplicationWindow, SettingsWindow {
    -fx-background-color: -bg-main;
    -fx-background-radius: 8 0 0 0;
}

.topbar {
    -fx-background-color: -bg-foreground;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);*/
}

.leftBar {
    -fx-background-color: -bg-foreground;
    -fx-alignment: top-center;
    -fx-spacing: 15;
    -fx-pref-width: 64;
    -fx-max-width: 64;
}

.leftBar ToggleButton {
    -fx-background-radius: 64;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 0;
}

.leftBar ToggleButton:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.leftBar ToggleButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.updateAvailableHolder{
    -fx-border-color: #25C85E;
    -fx-border-radius: 10;
}

.updateAvailableHolder Label {
    -fx-text-fill: #25C85E;
}

.updateAvailableHolder Button {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #25C85E, #1DCF19);
    -fx-background-radius: 0 9 9 0;
    -fx-pref-height: 1000000;
    -fx-text-fill: white;
    -fx-skin: "com.jam54.jam54_launcher.Animations.ButtonScale";
}

.buttonBar {
    -fx-pref-width: 10000000000000000;
    -fx-padding: 40 60 40 30;
}

.buttonBarTitle {
    -fx-alignment: CENTER_LEFT;
}

.buttonBarTitle Text{
    -fx-font-size: 25;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}

.buttonBarToggles {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.buttonBarToggles ToggleButton {
    -fx-background-color: #0E112C;
    -fx-border-color: -toggle-button-gradient;
    -fx-border-radius: 35;
    -fx-border-width: 2;
    -fx-background-radius: 35;
    -fx-font-size: 24;
    -fx-font-family: 'New Rubrik TRIAL';
    -fx-padding: 2 20;
}

.buttonBarToggles ToggleButton:selected {
    -fx-background-color: -toggle-button-gradient;
}

.buttonBarToggles ToggleButton:hover {
    -fx-background-color: -toggle-button-gradient;
}

.buttonBarToggles ToggleButton Text {
    -fx-fill: -text-highlighted;
}

.buttonBarSearchBar{
    -fx-alignment: CENTER_RIGHT;
}

/** {*/
/*    -fx-border-color: yellow;*/
/*}*/

.buttonBarSearchBar TextField {
    -fx-pref-width: 275;
    -fx-pref-height: 45;
    -fx-background-color: -hollow-button-unselected;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.buttonBarSearchBar TextField {
    -fx-font-size: 20;
    -fx-prompt-text-fill: -button-icon-unselected;
    -fx-text-fill: -button-icon-unselected;
    -fx-font-family: 'Lato';
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image:url('../img/icons/Search_ButtonIconUnselected.png');
    -fx-background-size: 50;
    -fx-padding: 0 0 0 43;
}

.buttonBarSearchBar TextField:hover {
    -fx-background-color: -hollow-button-hovered;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-hovered;
    -fx-text-fill: -button-icon-hovered;
    -fx-background-image:url('../img/icons/Search_ButtonIconHovered.png');
}
.buttonBarSearchBar TextField:focused {
    -fx-background-color: -hollow-button-clicked;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-clicked;
    -fx-text-fill: -button-icon-clicked;
    -fx-background-image:url('../img/icons/Search_ButtonIconHovered.png');
}

.titleBar {
    -fx-padding: 50px;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.titleBar Label {
    -fx-text-fill: white;
}

.titleBar HBox {
    -fx-alignment: center-right;
    -fx-spacing: 5;
}

.applicationsHolder {
    -fx-pref-height: 1000000;
}