* {
    -bg-main: #141414;
    -bg-foreground: #242424;
    -bg-selected: #3E3E3E;

    -accent-button-main: #3D77C2;
    -accent-button-hovered: #3669AB;
    -accent-button-clicked: #2E5A93;

    -hollow-button-unselected: rgba(255, 255, 255, 0);
    -hollow-button-hovered: #3E3E3E;
    -hollow-button-clicked: #595959;

    -filled-button-unselected: #404040;
    -filled-button-hovered: #383838;
    -filled-button-clicked: #313131;

    -button-icon-unselected: #7C7C7C;
    -button-icon-hovered: #C9C9C9;
    -button-icon-clicked: #D1D1D1;

    -text-highlighted: #FFFFFF;
    -text-not-highlighted: #BDBDBD;

    -other-border-division-scrollbar: #404040;
    -other-blur: rgba(255, 255, 255, 0.25);
}

BorderPane {
    -fx-background-color: -bg-foreground;
}

GamesProgramsWindow, ApplicationWindow, SettingsWindow {
    -fx-background-color: -bg-main;
    -fx-background-radius: 8 0 0 0;
}

.topbar {
    -fx-background-color: -bg-foreground;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);*/
}

.leftBar {
    -fx-background-color: -bg-foreground;
    -fx-alignment: top-center;
    -fx-spacing: 15;
    -fx-pref-width: 64;
    -fx-max-width: 64;
}

.leftBar ToggleButton {
    -fx-background-radius: 64;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 0;
}

.leftBar ToggleButton:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.leftBar ToggleButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.updateAvailableHolder{
    -fx-border-color: #25C85E;
    -fx-border-radius: 10;
}

.updateAvailableHolder Label {
    -fx-text-fill: #25C85E;
}

.updateAvailableHolder Button {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #25C85E, #1DCF19);
    -fx-background-radius: 0 9 9 0;
    -fx-pref-height: 1000000;
    -fx-text-fill: white;
    -fx-skin: "com.jam54.jam54_launcher.Animations.ButtonScale";
}

.buttonBar {
    -fx-pref-width: 10000000000000000;
}

.buttonBarToggles {
    -fx-alignment: center;
}

.buttonBarTitle {
    -fx-alignment: CENTER_LEFT;
}

.buttonBarSearchBar{
    -fx-alignment: CENTER_RIGHT;
}

.titleBar {
    -fx-padding: 50px;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.titleBar Label {
    -fx-text-fill: white;
}

.titleBar HBox {
    -fx-alignment: center-right;
    -fx-spacing: 5;
}

.titleBar TextField {
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image:url('https://placekitten.com/20/20');
}

.applicationsHolder {
    -fx-pref-height: 1000000;
}