{
    -bg-main: #FFFFFF;
    -bg-foreground: #F5F5F5;
    -bg-selected: #D8D8D8;

    -accent-button-main: #3D77C2;
    -accent-button-hovered: #3669AB;
    -accent-button-clicked: #2E5A93;

    -hollow-button-unselected: rgba(255, 255, 255, 0);
    -hollow-button-hovered: #D8D8D8;
    -hollow-button-clicked: #BABABA;

    -filled-button-unselected: #404040;
    -filled-button-hovered: #383838;
    -filled-button-clicked: #313131;

    -button-icon-unselected: #939393;
    -button-icon-hovered: #3C3C3C;
    -button-icon-clicked: #343434;

    -text-highlighted: #000000;
    -text-not-highlighted: #474747;

    -other-border-division-scrollbar: #EBEBEB;
    -other-blur: rgba(0, 0, 0, 0.25);
    -toggle-button-gradient: linear-gradient(from 25% 25% to 100% 100%, #2193D3, #494FD6);
    -toggle-button-flat: #21276b;
}

BorderPane {
    -fx-background-color: -bg-foreground;
}

GamesProgramsWindow, ApplicationWindow, SettingsWindow {
    -fx-background-color: -bg-main;
    -fx-background-radius: 8 0 0 0;
}

.topbar {
    -fx-background-color: -bg-foreground;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);*/
}

.leftBar {
    -fx-background-color: -bg-foreground;
    -fx-alignment: top-center;
    -fx-spacing: 15;
    -fx-pref-width: 64;
    -fx-max-width: 64;
}

.leftBar ToggleButton {
    -fx-background-radius: 4;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-background-color: -hollow-button-unselected;
    -fx-padding: 0;

    -fx-cursor: hand;
}

.leftBar ToggleButton:selected {
    -fx-background-color: -hollow-button-clicked;
}

.leftBar ToggleButton:hover {
    -fx-background-color: -bg-selected;
}

.homeToggle {
    -fx-background-image: url('../img/icons/Home_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 37;
}

.homeToggle:hover {
    -fx-background-image: url('../img/icons/Home_ButtonIconHovered-whiteTheme.png');
}

.homeToggle:selected {
    -fx-background-image: url('../img/icons/Home_ButtonIconClicked-whiteTheme.png');
}

.settingsToggle {
    -fx-background-image: url('../img/icons/Settings_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 37;
}

.settingsToggle:hover {
    -fx-background-image: url('../img/icons/Settings_ButtonIconHovered-whiteTheme.png');
}

.settingsToggle:selected {
    -fx-background-image: url('../img/icons/Settings_ButtonIconClicked-whiteTheme.png');
}

.updateAvailableHolder{
    -fx-border-color: #25C85E;
    -fx-border-radius: 10;
    -fx-alignment: center-right;
}

.updateAvailableHolder Label {
    -fx-text-fill: #25C85E;
}

.updateAvailableHolder Button {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #25C85E, #1DCF19);
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #25C85E, #1DCF19);
    -fx-background-radius: 0 9 9 0;
    -fx-border-radius: 0 9 9 0;
    -fx-pref-height: 1000000;
    -fx-text-fill: white;
    -fx-skin: "com.jam54.jam54_launcher.Animations.ButtonScale";
    -fx-cursor: hand;
}

.buttonBar {
    -fx-pref-width: 10000000000000000;
    -fx-padding: 36 30 27 30;
}

.buttonBarTitle {
    -fx-alignment: CENTER_LEFT;
}

.buttonBarTitle Text{
    -fx-font-size: 25;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}

.buttonBarToggles {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.buttonBarToggles ToggleButton, .applicationWindow ToggleButton {
    -fx-background-color: #0E112C;
    -fx-border-color: -toggle-button-gradient;
    -fx-border-radius: 35;
    -fx-border-width: 2;
    -fx-background-radius: 35;
    -fx-font-size: 24;
    -fx-font-family: 'New Rubrik TRIAL';
    -fx-padding: 2 20;
    -fx-cursor: hand;
}

.buttonBarToggles ToggleButton:selected, .applicationWindow ToggleButton:selected {
    -fx-background-color: -toggle-button-gradient;
}

.buttonBarToggles ToggleButton:hover, .applicationWindow ToggleButton:hover {
    -fx-background-color: -toggle-button-gradient;
}

.buttonBarToggles ToggleButton Text, .applicationWindow ToggleButton Text {
    -fx-fill: #ffffff;
}

.buttonBarSearchBar{
    -fx-alignment: CENTER_RIGHT;
}

.buttonBarSearchBar TextField {
    -fx-pref-width: 275;
    -fx-pref-height: 45;
    -fx-background-color: -hollow-button-unselected;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.buttonBarSearchBar TextField {
    -fx-font-size: 20;
    -fx-prompt-text-fill: -button-icon-unselected;
    -fx-text-fill: -button-icon-unselected;
    -fx-font-family: 'Lato';
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image:url('../img/icons/Search_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 50;
    -fx-padding: 0 0 0 43;
}

.buttonBarSearchBar TextField:hover {
    -fx-background-color: -hollow-button-hovered;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-hovered;
    -fx-text-fill: -button-icon-hovered;
    -fx-background-image:url('../img/icons/Search_ButtonIconHovered-whiteTheme.png');
}
.buttonBarSearchBar TextField:focused {
    -fx-background-color: -hollow-button-clicked;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-clicked;
    -fx-text-fill: -button-icon-clicked;
    -fx-background-image:url('../img/icons/Search_ButtonIconHovered-whiteTheme.png');
}

.filtersHolder {
    -fx-font-size: 16;
    -fx-padding: 0 30 30 30;
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.filtersHolder Text {
    -fx-fill: -button-icon-unselected;
    -fx-font-family: 'Lato';
    -fx-font-size: 20;
}

.filtersHolder ComboBoxColor {
    -fx-background-color: -hollow-button-unselected;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 4 0;

    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
    -fx-background-image:url('../img/icons/UpDownChevrons_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 21;
    -fx-cursor: hand;
}

.filtersHolder ComboBoxColor > * {
    -fx-font-size: 15;
    -fx-font-family: 'Lato';
    -fx-text-fill: -button-icon-unselected;
}

.filtersHolder ComboBoxColor:hover {
    -fx-background-color: -hollow-button-hovered;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-hovered;
    -fx-background-image:url('../img/icons/UpDownChevrons_ButtonIconHovered-whiteTheme.png');
}

.filtersHolder ComboBoxColor:hover > * {
    -fx-text-fill: -button-icon-hovered;
}

.filtersHolder ComboBoxColor:focused {
    -fx-background-color: -hollow-button-clicked;
    -fx-border-color: -hollow-button-clicked;
    -fx-prompt-text-fill: -button-icon-clicked;
    -fx-background-image:url('../img/icons/UpDownChevrons_ButtonIconClicked-whiteTheme.png');
}

.filtersHolder ComboBoxColor:focused > * {
    -fx-text-fill: -button-icon-clicked;
}

.combo-box .list-view {
    -fx-background-color: -other-border-division-scrollbar;
}

.combo-box .list-view .list-cell {
    -fx-background-color: -bg-foreground;
    -fx-text-fill: -text-not-highlighted;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:selected, .combo-box .list-view .list-cell:hover {
    -fx-background-color: -bg-selected;
    -fx-text-fill: -text-highlighted;
}

.combo-box .arrow, .combo-box .arrow-button {
    -fx-background-color: transparent;
}

.filtersHolder CheckBox {
    -fx-font-size: 16;
    -fx-font-family: 'Lato';
    -fx-text-fill: -button-icon-unselected;
    -fx-cursor: hand;
}

.filtersHolder .check-box .box {
    -fx-background-color: -hollow-button-unselected;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-color: -other-border-division-scrollbar;
}

.filtersHolder .check-box:hover .box {
    -fx-background-color: -hollow-button-hovered;
    -fx-border-color: -hollow-button-clicked;
    -fx-background-insets: 0 0 1 0;
}

.filtersHolder .check-box:selected .box {
    -fx-background-color: -accent-button-main;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-background-insets: 0 0 1 0;
}

.filtersHolder .check-box:selected .mark {
    -fx-background-color: #ffffff;
    -fx-shape: "M12.8642 0.966136L12.8642 0.966112C12.6862 0.834995 12.463 0.778397 12.2433 0.807446C12.0236 0.836501 11.8232 0.949199 11.687 1.12285L5.40442 9.1291L2.22182 6.03962L2.22191 6.03953L2.2167 6.03481C2.05646 5.88984 1.84567 5.81178 1.62891 5.8155C1.41214 5.81921 1.20421 5.90445 1.04921 6.05495C0.894029 6.20563 0.804051 6.41013 0.800133 6.62573C0.796215 6.84135 0.878719 7.04893 1.02846 7.20496L1.02837 7.20505L1.03344 7.20997L4.89549 10.96C4.9808 11.0429 5.08303 11.1069 5.19513 11.1478C5.30723 11.1888 5.42686 11.2059 5.54607 11.1982C5.66528 11.1905 5.78165 11.1581 5.88739 11.103C5.99314 11.0479 6.08599 10.9711 6.15944 10.8777L6.15953 10.8776L13.0256 2.12731C13.0256 2.1273 13.0256 2.12729 13.0256 2.12728C13.0933 2.04108 13.143 1.94244 13.1717 1.83693C13.2004 1.73139 13.2074 1.6213 13.1922 1.51303C13.177 1.40477 13.1401 1.30073 13.0837 1.20687C13.0273 1.11303 12.9526 1.0313 12.8642 0.966136Z";
}

#centerArea {
    -fx-background: -bg-main;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-border-color: -bg-main;
    -fx-border-width: 2;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : -bg-main;
    -fx-border-color : -bg-main;
    -fx-background-radius : 0.0em;
    -fx-background-insets: -1;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : -bg-main;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : -bg-main;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : -bg-foreground;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-cursor: hand;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : -bg-selected;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.applicationsHolder {
    -fx-pref-height: 1000000;
    -fx-alignment: top-left;
    -fx-padding: 5 30;
    -fx-hgap: 40;
    -fx-vgap: 40;
}

#noApplicationsMatched {
    -fx-background-color: -bg-foreground;
    -fx-padding: 20;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -other-border-division-scrollbar;
}

#noApplicationsMatched Text {
    -fx-font-size: 20;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
}

.applicationButton {
    -fx-background-color: -bg-foreground;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-pref-width: 188;
    -fx-cursor: hand;
}

.applicationButtonHolder:hover ApplicationButton {
    -fx-effect: dropshadow(gaussian, -other-blur, 8, 0, 0.0, 0.0);
    -fx-border-width: 3;
    -fx-border-color: -accent-button-main;
} /* We only want to enable this 3px width border, when the holder around this applicationButton is being hovered. Otherwise the user might hover over just the holder which will remove the holder's border width. Which will cause visual UI tripping */

.applicationButton:pressed {
    -fx-effect: dropshadow(gaussian, -other-blur, 11, 0, 0.0, 0.0);
    -fx-border-color: -accent-button-clicked;
}

/*When we increase the border of the applicationButton upon hovering, it gets 2 pixels bigger. (From border width 1 to 3). This causes all the other applicationButtons to slightly move up/down when we hover. Since there is a difference in height now

To circumvent/get around this, we put the applicationButton in another VBox which has a border of 2 pixels. When we then hover we set the border width of the applicationButtonHolder to 0. These cancel each other out and this way the size stays the same, which no longer causes all the applicationButtons to shift up/down when hovering over them
*/
.applicationButtonHolder {
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.applicationButtonHolder:hover {
    -fx-border-width: 0;
}

.applicationButton HBox {
    -fx-padding: 9 11 6 11;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-border-style: solid none none none;
}

.applicationButton HBox Text {
    -fx-font-size: 18;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'New Rubrik TRIAL';
}

#statusHolder {
    -fx-padding: 3 0 0 3;
    -fx-alignment: center-left;
    -fx-border-width: 0;
    -fx-spacing: 8;
}

#statusHolder Text {
    -fx-font-size: 13;
    -fx-fill: -button-icon-unselected;
    -fx-font-family: 'New Rubrik TRIAL';
    -fx-padding: 0 0 0 3;
}

.applicationButton HBox HBox {
    -fx-alignment: center-right;
    -fx-pref-width: 10000000000;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.applicationButton HBox HBox Button, #optionsButton {
    -fx-pref-width: 28;
    -fx-pref-height: 28;

    -fx-background-color: -hollow-button-unselected;
    -fx-background-image: url('../img/icons/Options_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 28;
}

#optionsButton {
    -fx-pref-width: 45;
    -fx-pref-height: 45;
    -fx-min-width: 45;
    -fx-min-height: 45;
    -fx-background-size: 45;
}

.applicationButton HBox HBox Button:hover, #optionsButton:hover {
    -fx-background-color: -hollow-button-clicked;
    -fx-background-image: url('../img/icons/Options_ButtonIconHovered-whiteTheme.png');
}

.applicationButton HBox HBox Button:selected, #optionsButton:selected {
    -fx-background-color: -hollow-button-clicked;
    -fx-background-image: url('../img/icons/Options_ButtonIconClicked-whiteTheme.png');
}

.optionsWindow{
    -fx-background-color: -bg-foreground;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-padding: 15;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.optionsWindow Button{
    -fx-pref-height: 30;
    -fx-background-color: transparent;
    -fx-max-width: 1000000;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.optionsWindow Button Text {
    -fx-font-size: 14;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
}

.optionsWindow HBox Button {
    -fx-max-width: 1000000;
}

.optionsWindow Button:hover {
    -fx-background-color: -bg-selected;
}

.optionsWindow Button:hover Text {
    -fx-underline: true;
}

.optionsWindow Button:pressed {
    -fx-background-color: -filled-button-clicked;
}

.optionsWindow HBox HBox {
    -fx-alignment: center-right;
}

.optionsWindow HBox HBox Button Text {
    -fx-fill: -text-not-highlighted;
}

#seperatorHolder .separator *.line, .separator *.line {
    -fx-border-color: -other-border-division-scrollbar;
    -fx-border-width: 1;
    -fx-padding: 0;
}

#versionHolder {
    -fx-alignment: center-left;
}

#noButtonStyling:hover {
    -fx-background-color: transparent;
}

#noButtonStyling:hover Text {
    -fx-underline: false;
}

.optionsButtonHolder {
    -fx-alignment: center-right;
}

.leftSideApplicationWindow {
    -fx-padding: 0 80 30 30;
    -fx-spacing: 20;
    -fx-pref-width: 346;
}

.leftSideApplicationWindow .separator *.line {
    -fx-border-color: -other-border-division-scrollbar;
    -fx-border-width: 1;
    -fx-padding: 0;
}

.leftSideApplicationWindow HBox HBox {
    -fx-alignment: center-right;
    -fx-pref-width: 1000000000;
}

#platform_HBox HBox {
    -fx-alignment: center-left;
    -fx-pref-width: 1000000000;
}

#platform_HBox HBox HBox{
    -fx-alignment: center-right;
    -fx-pref-width: 1000000000;
}

#applicationWindowNotHighlightedText {
    -fx-font-size: 21;
    -fx-fill: -text-not-highlighted;
    -fx-font-family: 'Lato';
}

#applicationWindowHighlightedText {
    -fx-font-size: 21;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
}

.rightSideApplicationWindow {
    -fx-padding: 0 70 0 0;
    -fx-alignment: bottom-center;
}

.rightSideApplicationWindow ScrollPane {
    -fx-pref-height: 100000000;

    -fx-background: -bg-main;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-border-color: -bg-main;
    -fx-border-width: 2;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.rightSideApplicationWindow ScrollPane TextFlow Text {
    -fx-font-size: 21;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
}

.rightSideApplicationWindow HBox {
    -fx-padding: 0 0 30 0;
    -fx-alignment: bottom-left;
    -fx-min-height: 153;
    -fx-spacing: 55;
}

.rightSideApplicationWindow HBox Button HBox Text, .rightSideApplicationWindow HBox Button Text {
    -fx-font-size: 28;
    -fx-fill: #ffffff;
    -fx-font-family: 'Lato';
}

.rightSideApplicationWindow HBox Button {
    -fx-pref-height: 63;
    -fx-background-radius: 9;
    -fx-pref-width: 100000000;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.rightSideApplicationWindow HBox Button HBox {
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-spacing: 12;
}

.rightSideApplicationWindow HBox VBox {
    -fx-alignment: bottom-left;
    -fx-pref-width: 1000000;
    -fx-spacing: 10;
}

.rightSideApplicationWindow HBox VBox Text {
    -fx-font-size: 21;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
}

.rightSideApplicationWindow HBox VBox ProgressBar {
    -fx-accent: -accent-button-main;
    -fx-text-box-border: -other-border-division-scrollbar;
    -fx-control-inner-background: -other-border-division-scrollbar;
    -fx-pref-width: 100000;
}

.progress-bar .track {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-pref-height: 13;
}

.progress-bar .bar {
    -fx-background-radius: 5;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-pref-height: 13;
}

#primaryButton {
    -fx-background-color: -accent-button-main;
}

#primaryButton:hover {
    -fx-background-color: -accent-button-hovered;
}

#primaryButton:pressed {
    -fx-background-color: -accent-button-clicked;
}

#nonPrimaryButton {
    -fx-background-color: -filled-button-unselected;
}

#nonPrimaryButton:hover {
    -fx-background-color: -filled-button-hovered;
}

#nonPrimaryButton:pressed {
    -fx-background-color: -filled-button-clicked;
}

.settingsWindow {
    -fx-padding: 40 80 30 20;
    -fx-spacing: 40;
    -fx-pref-width: 346;
}

#settingsWindowTitleHolder {
    -fx-padding: 0 0 25 10;
}

#settingsWindowTitleHolder Text {
    -fx-font-size: 25;
    -fx-fill: -text-highlighted;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
}

.settingsWindowLeftBar {
    -fx-min-width: 169;
    -fx-pref-width: 169;
}

.settingsWindowLeftBar ToggleButton {
    -fx-pref-width: 1000000;
    -fx-background-radius: 4;
    -fx-alignment: center-left;
    -fx-padding: 2 10 3 10;
    -fx-min-height: 28;
    -fx-background-color: -hollow-button-unselected;
    -fx-cursor: hand;
}

.settingsWindowLeftBar ToggleButton:hover {
    -fx-background-color: -hollow-button-hovered;
}

.settingsWindowLeftBar ToggleButton:armed {
    -fx-background-color: -hollow-button-clicked;
}

.settingsWindowLeftBar ToggleButton:selected {
    -fx-background-color: -hollow-button-clicked;
}

.settingsWindowLeftBar ToggleButton Text {
    -fx-fill: -text-not-highlighted;
    -fx-font-size: 15;
    -fx-font-family: 'Lato';
}

.settingsWindowLeftBar ToggleButton:hover Text {
    -fx-fill: -text-highlighted;
}

.settingsWindowLeftBar ToggleButton:selected Text {
    -fx-fill: -text-highlighted;
}

.settingsWindowLeftBarBottom {
    -fx-alignment: bottom-left;
    -fx-pref-height: 10000000;
}

.settingsWindowLeftBarBottom HBox {
    -fx-padding: 0 0 0 10;
}

.settingsWindowLeftBarBottom HBox Text {
    -fx-fill: -text-not-highlighted;
    -fx-font-size: 12;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}

.settingsWindowLeftBarTop {
    -fx-spacing: 4;
}

.socials {
    -fx-padding: 5 0 0 10;
    -fx-spacing: 7;
}

.socials Button {
    -fx-background-color: -hollow-button-unselected;
    -fx-background-size: 18;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-padding: 0;
    -fx-cursor: hand;
}

#youtubeButton {
    -fx-background-image: url("../img/icons/YouTube_ButtonIconUnselected-whiteTheme.png");
}

#youtubeButton:hover {
    -fx-background-image: url("../img/icons/YouTube_ButtonIconHovered-whiteTheme.png");
}

#youtubeButton:pressed {
    -fx-background-image: url("../img/icons/YouTube_ButtonIconClicked-whiteTheme.png");
}

#playstoreButton {
    -fx-background-image: url("../img/icons/PlayStore_ButtonIconUnselected-whiteTheme.png");
}

#playstoreButton:hover {
    -fx-background-image: url("../img/icons/PlayStore_ButtonIconHovered-whiteTheme.png");
}

#playstoreButton:pressed {
    -fx-background-image: url("../img/icons/PlayStore_ButtonIconClicked-whiteTheme.png");
}

#discordButton {
    -fx-background-image: url("../img/icons/Discord_ButtonIconUnselected-whiteTheme.png");
}

#discordButton:hover {
    -fx-background-image: url("../img/icons/Discord_ButtonIconHovered-whiteTheme.png");
}

#discordButton:pressed {
    -fx-background-image: url("../img/icons/Discord_ButtonIconClicked-whiteTheme.png");
}

#githubButton {
    -fx-background-image: url("../img/icons/GitHub_ButtonIconUnselected-whiteTheme.png");
}

#githubButton:hover {
    -fx-background-image: url("../img/icons/GitHub_ButtonIconHovered-whiteTheme.png");
}

#githubButton:pressed {
    -fx-background-image: url("../img/icons/GitHub_ButtonIconClicked-whiteTheme.png");
}

#mailButton {
    -fx-background-image: url("../img/icons/Mail_ButtonIconUnselected-whiteTheme.png");
}

#mailButton:hover {
    -fx-background-image: url("../img/icons/Mail_ButtonIconHovered-whiteTheme.png");
}

#mailButton:pressed {
    -fx-background-image: url("../img/icons/Mail_ButtonIconClicked-whiteTheme.png");
}

.installationLocationWindow, appearanceWindow {
    -fx-spacing: 8;
}

#HighlightedSettingsTitle {
    -fx-fill: -text-highlighted;
    -fx-font-size: 20;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}

#NotHighlightedSettingsDescription {
    -fx-fill: -text-not-highlighted;
    -fx-font-size: 12;
    -fx-font-family: 'Lato';
}

#dataFolderSizeHolder {
    -fx-alignment: bottom-right;
    -fx-padding: 0 0 3 0;
}

#dataFolderSizeHolder Text {
    -fx-fill: -text-not-highlighted;
    -fx-font-size: 13;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}

.folderPickerHolder {
    -fx-pref-width: 375;
}

.folderPickerHolder Button {
    -fx-padding: 0;
    -fx-background-color: -bg-foreground;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.folderPickerHolder Button:hover {
    -fx-background-color: -bg-selected;
}

#pickerContainer {
    -fx-padding: 15;
    -fx-spacing: 15;
}

#pickerContainer Text {
    -fx-fill: -text-highlighted;
    -fx-font-size: 13;
    -fx-font-family: 'Lato';
}

#pickerContainer HBox {
    -fx-alignment: center-right;
    -fx-pref-width: 10000000;
}

#pickerContainer HBox HBox {
    -fx-background-image: url("../img/icons/Folder_ButtonIconUnselected-whiteTheme.png");
    -fx-background-size: 20;
    -fx-pref-width: 19.5;
    -fx-pref-height: 16.5;
    -fx-min-height: 16.5;
    -fx-min-width: 19.5;
}

#pickerContainer:hover HBox HBox {
    -fx-background-image: url("../img/icons/Folder_ButtonIconHovered-whiteTheme.png");
}

.appearanceWindowToggleButton {
    -fx-background-color: -hollow-button-unselected;
    -fx-cursor: hand;
}

.appearanceWindowToggleButton HBox{
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

.appearanceWindowToggleButton HBox HBox {
    -fx-background-radius: 1000;
    -fx-border-radius: 1000;
    -fx-padding: 0;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-background-color: -bg-foreground;
    -fx-border-color: -other-border-division-scrollbar;
    -fx-alignment: center;
}

.appearanceWindowToggleButton HBox HBox HBox {
    -fx-background-color: -hollow-button-unselected;
    -fx-background-radius: 1000;
    -fx-border-radius: 1000;
    -fx-padding: 0;
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-height: 10;
    -fx-max-width: 10;
    -fx-border-width: 0;
}

.appearanceWindowToggleButton:selected HBox HBox {
    -fx-background-color: -accent-button-main;
}

.appearanceWindowToggleButton:selected HBox HBox HBox {
    -fx-background-color: #FFFFFF;
}

.appearanceWindowToggleButton HBox Text {
    -fx-fill: -button-icon-unselected;
    -fx-font-size: 16;
    -fx-font-family: 'Lato';
}

.appearanceWindowToggleButton:hover HBox Text {
    -fx-fill: -button-icon-hovered;
}

.appearanceWindowToggleButton:selected HBox Text {
    -fx-fill: -button-icon-clicked;
}

.languagePickerHolder {
    -fx-spacing: 30;
    -fx-padding: 0 15 0 0;
}

.languagePickerHolder ComboBoxColor {
    -fx-background-color: -hollow-button-unselected;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 4 0;
    -fx-pref-width: 375;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-background-insets: 0 -15 0 0;
    -fx-border-insets: 0 -15 0 0;

    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
    -fx-background-image:url('../img/icons/ChevronDown_ButtonIconUnselected-whiteTheme.png');
    -fx-background-size: 14;
    -fx-cursor: hand;
}

.languagePickerHolder ComboBoxColor > * {
    -fx-font-size: 15;
    -fx-font-family: 'Lato';
    -fx-text-fill: -text-highlighted;
}

.languagePickerHolder ComboBoxColor:hover {
    -fx-background-color: -hollow-button-hovered;
    -fx-border-color: -accent-button-main;
    -fx-prompt-text-fill: -button-icon-hovered;
    -fx-background-image:url('../img/icons/ChevronDown_ButtonIconHovered-whiteTheme.png');
}

.languagePickerHolder ComboBoxColor:focused {
    -fx-background-color: -hollow-button-clicked;
    -fx-border-color: -accent-button-main;
    -fx-prompt-text-fill: -button-icon-clicked;
}

.languagePickerHolder ComboBoxColor .scroll-bar:horizontal .track, .languagePickerHolder ComboBoxColor .scroll-bar:vertical .track {
    -fx-background-color : -bg-foreground;
    -fx-border-color : -bg-foreground;
    -fx-background-radius : 0.0em;
    -fx-background-insets: -1;
    -fx-border-radius :2.0em;
}

.languagePickerHolder ComboBoxColor .scroll-bar:horizontal .thumb, .languagePickerHolder ComboBoxColor .scroll-bar:vertical .thumb {
    -fx-background-color : -bg-selected;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}